.hide  {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    background-color: #af6b12;
}

textarea {
    outline: none;
    min-height: 30px;
    min-width: 50px;
    z-index: 3;
}

#app {
    margin-top:5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 100%;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainMenuButton {
    background-color: #d4dd57;
    border-radius: 10px;
    margin: 5px;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 250%;
    user-select: none;
    cursor: pointer;
    transition: .1s;
}

.active {
    background-color: #b6b84c;
    border:1px solid #63b852;
    transform: translateY(1px);
}

.mainMenuButton:hover {
    background-color: #b6b84c;
}

.mainMenuButton:active {
    transform: translateY(1px);
}

.calcInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin: 12px;
}

.calcInput textarea {
    text-align: center;
    height: 50px;
    margin: 10px;
    outline: none;
}

.resultContainer>textarea,
.polyResult {
    text-align: center;
    font-size: 20px;
    height: 70px;
    margin: 10px;
}

.newPoly {
    z-index:1;
}

.result, .polyResult {
    background-color: #bebeb2;
    z-index: 1;
}


.calcButtons {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    margin-bottom: 0;
}

.calcButtons>div {
    width: 100%;
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.operand,
.polyOperand {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    background-color: #c9bc71;
    margin: 0 10px 10px;
    user-select: none;
    transition: 0.1s;
}

.operand:hover,
.polyOperand:hover,
.resultButton:hover {
    cursor: pointer;
    background-color: #a0a078;
}

.operand:active,
.polyOperand:active,
.resultButton:active {
    transform: translateY(1px);
}

.resultContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.resultButton {
    height: 20px;
    width: 30px;
    margin: 10px;
    background-color: #c9c971;
    text-align: center;
}

#polyomialCalculator, #calculator{
    background-color: #c57d1f;
}

#graph {
    cursor: grab;
    border: 1px solid black;
    border-radius: 20px;
}

#graph:active {
    cursor: grabbing;
}

#graph2D {
    max-height: 800px;
}

.funcs-Ñontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.funcBlock input::-webkit-outer-spin-button,
.funcBlock input::-webkit-inner-spin-button {
    appearance: none;
}

.funcBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
    width: 80%;
}

.funcBlock input {
    margin: 1px;
    text-align: center;
    outline: none;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 158, 86);
    width: 0;
    height: 800px;
    top: -805px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 18px;
    transition: 1s;
}

.container > .block {
    width: 100%;
    max-height: 100%;
}

.containerActive {
    width: 500px;
}

.menuGraphButton {
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: -30px;
    height: 30px;
    width: 30px;
    background-color: rgb(67, 166, 196);
    cursor: pointer;
}

.funcMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 100%;
}

.deleteFunc {
    width: 15px;
    height: 15px;
    background-color: azure;
    text-align: center;
    line-height: 15px;
    user-select: none;
    border-radius: 5px;
}

.deleteFunc:hover {
    background-color: rgb(218, 79, 79);
}

.addFunction {
    width: 90px;
    height: 20px;
    margin-top: 5px;
    text-align: center;
    background-color: azure;
    border-radius: 5px;
    user-select: none;
    transition: .1s;
}

.addFunction:hover {    
    background-color: rgb(208, 245, 245);
}

.addFunction:active {
    transform: translateY(2px);
}

.addFunction:hover,
.deleteFunc:hover {
    cursor: pointer;
}



.switch-btn {
    display: inline-block;
    width: 30px;
    height: 15px;
    border-radius: 19px;
    background: #bfbfbf;
    z-index: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
}

.switch-btn::after {
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 17px;
    background: #fff;
    left: 0;
    transition-duration: 300ms;
    position: absolute;
    z-index: 1;
}

.switch-on {
    background: #118c4e;
}

.switch-on::after {
    left: 15px;
}

.inputColor {
    border-radius: 50%;
    background-color: transparent;
    height: 25px;
    width: 26px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.inputColor::-webkit-color-swatch-wrapper {
    padding: 0;
}

.inputColor::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.funcBlock>.inputA,
.funcBlock>.inputB {
    width: 30px;
}

.inputWidth,
.inputFunc {
    width: 60px;
}

.funcBlock>.inputA,
.funcBlock>.inputB,
.inputWidth,
.inputFunc {
    background-color: white;
    border: 1px solid chocolate;
    border-radius: 10px;
}